*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Times, serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    flex-direction: column;
    background-color: #E3E9FF;
}

#box{
    position: relative;
    padding: 20px 0;
    display: none;
}

#lista-box{
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.541);
    width: 300px;
    padding: 10px 40px 50px 40px;
    border-radius: 5px;
    background-color: white;
}
#addTarefa{
    position: absolute;
    bottom: 0;
    right: 25%;
    border: 0;
    background-color: rgb(28, 134, 255);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: all 400ms;
}

button:hover{
    filter: brightness(0.9);
}

li{
    cursor: pointer;
    border-bottom: 1px solid #d7e0ff;
    padding: 20px 0;
    display: none;
}

h2{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #474747;
    margin: 10px 0;
}

form{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
}

form input{
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 8px 0 0 8px;
}

#add{
    width: 40px;
    height: 40px;
    border-radius: 0 8px 8px 0;
    border: 0;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(28, 134, 255);
}