@use "./variables.scss";

body{
    background-color: variables.$primaryColor;    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.error{
    color: variables.$error;
}