@use "config/padrao.scss";
@use "config/variaveis.scss";
@use "config/product.scss";
@use "config/responsive.scss";

body {
    background-color: variaveis.$secundaria;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$corPrincipal;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

section {
    padding: 56px 0;
}
